body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
}

.wg {
    position: relative;
    display: grid;
    grid-template-columns: [fir] 40px [sec] auto;
    grid-template-rows: 100%;
    grid-column-start: cfir;
    grid-column-end: cfir;
    grid-row: 1;
}

.wg-outer {
    position: relative;
    width: 20px;
    height: 400px;
    background-color: transparent;
    border: 5px solid #b2bec3;
    border-radius: 20px;
    grid-column-start: fir;
    grid-column-end: fir;
    grid-row: 1;
}

.wg-inner {
    position: absolute;
    bottom: 0;
    background-color: #0984e3;
    width: 20px;
    height: 394px;
    border-radius: 20px;
}

.max >

.legend {
    grid-column-start: sec;
    grid-column-end: sec;
    grid-row: 1;
}

.bubble {
    position:relative;
    height: 40px;
    width: 55px;
    background-color: #27ae60;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 100%, 0% 100%);
}

.bubble-text{
    position: absolute;
    bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 55px;
    text-align: center;
}

.max {
    position: absolute;
    right: -9px;
    color: #ecf0f1;
    background-color: #d35400;
}


.current {
    position: absolute;
    background-color: #f1c40f;
    left: 86.8%;
}

.target {
    position: absolute;
    background-color: #27ae60;
}

.semi {
    position: absolute;
    left: 60%;
    background-color: #2980b9;
    color: #ecf0f1;
}
